<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">


   <!-- ===============================================-->
   <!--    Document Title-->
   <!-- ===============================================-->
   <title>E-Learning</title>


   <!-- ===============================================-->
   <!--    Favicons-->
   <!-- ===============================================-->
   <link rel="apple-touch-icon" sizes="180x180" href="/img/thub.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/img/thub.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/img/thub.png">
   <link rel="shortcut icon" type="image/x-icon" href="img/thub.png">
   <link rel="manifest" href="assets/img/favicons/manifest.json">
   <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
   <meta name="theme-color" content="#ffffff">


   <!-- ===============================================-->
   <!--    Stylesheets-->
   <!-- ===============================================-->
   <link href="/css/learning.css" rel="stylesheet" />

</head>




<nav class="navbar navbar-expand-lg navbar-light sticky-top" data-navbar-on-scroll="data-navbar-on-scroll">
   <div class="container"><a class="navbar-brand" href="/"><img src="/img/logo.png" height="31" alt="logo" /></a>

   </div>
   <h1 style="color: #d87a21; font-weight: bold; margin-right: 10px; text-align: center;"> Welcome <%=Name%></h1>
   <div class="dropdown" style="margin-right: 100px;">
      <button onclick="myFunction()" class="dropbtn"></button>
      <div id="myDropdown" class="dropdown-content">
         <a href="/courses/profile">Profile</a>
         <a href="#">My Grades</a>
         <a href="/users/logout">Sign Out</a>
      </div>
   </div>
   </div>
</nav>

<body>
   <div class="sl-learn-course-container">
      <div tabindex="-1" style="outline: none;">
         <div class="sl-learn-course">
            <div class="sl-learn-course__upper">
               <div class="semi-round"></div>
               <div class="sl-learn-course__upper__back">
                  <div class="sl-learn-course__upper__back-content">
                     <div class="icon">
                        <svg style="width: 100%; height: 100%;">
                           <use xlink:href="#caretDown"></use>
                        </svg>
                     </div>
                     <a href="courses" style="color: aliceblue;"><div class="text">Back to courses</div></a>
                  </div>
               </div>
            </div>
            <div class="sl-learn-course__main">
               <div class="sl-learn-course__main__desc-wrapper">
                  <img alt="icon" class="sl-course-desc__icon"
                     src="/img/pythonLogo.png">
                  <div class="sl-course-desc__texts-wrapper">
                     <h1 class="sl-course-desc__title">Python </h1>
                     <span class="sl-course-desc__desc">Learn Python, one of today's most in-demand programming
                        languages on-the-go! Practice writing Python code, collect points, &amp; show off your skills
                        now!</span>
                  </div>
                  <button class="btn btn-success">Enroll  </button>
               </div>
               <div class="sl-learn-course__main__modules-wrapper">
                  <div class="sl-modules">
                     <div class="sl-module">
                        <div class="sl-module__header-panel" role="button" tabindex="0">
                           <div class="sl-module__header-panel__progress">
                              <svg viewBox="0 0 54 54">
                                 <defs>
                                    <linearGradient id="gradient0.9202972690575608" x1="0%" y1="0%" x2="0%" y2="100%">
                                       <stop offset="0%" stop-color="#40BF9C"></stop>
                                       <stop offset="100%" stop-color="#40BF9C"></stop>
                                    </linearGradient>
                                 </defs>
                                 <foreignObject width="54" height="54">
                                    <div class="sl-circular-progress-container"><img alt="avatar"
                                          class="sl-module__avatar"
                                          src="/img/symbole1.png">
                                    </div>
                                 </foreignObject>
                                 <circle transform="rotate(270 27 27)" id="path" cx="27" cy="27" r="26" stroke-width="2"
                                    stroke-dasharray="163.36281798666926" stroke-dashoffset="0" fill="none"
                                    stroke="#C8D2DB" stroke-linecap="round"></circle>
                                 <circle transform="rotate(270 27 27)" id="path" cx="27" cy="27" r="26" stroke-width="2"
                                    stroke-dasharray="163.36281798666926" stroke-dashoffset="163.36281798666926"
                                    fill="none" stroke="url(#gradient0.9202972690575608)" stroke-linecap="round"
                                    style="transition: stroke-dashoffset 1s ease 0s;"></circle>
                              </svg>
                           </div>
                           <span class="sl-module__title">Basic Concepts</span>
                        
                        </div>
                        <div class="sl-module__body sl-module__body--visible">
                           <hr class="sl-module__body--visible__line">
                           <%newListLessons.forEach(function(lesson){%>
                              
                           <div class="sl-group">
                              <div class="sl-group__dot"></div>
                              <div class="sl-group__items ">
                                 <div class="sl-group__item eom">
                                    <a class="sl-eom-cc " href="<%=lesson.href%>">
                                       <div class="sl-lesson-item " data-attribute="4429">
                                          <div class="sl-lesson-item__content">
                                             <div class="sl-lesson-item__index"><%=newListLessons.indexOf(lesson)+1%> Lesson</div>
                                             <span class="sl-lesson-item__title"><%=lesson.title%></span>
                                          </div>
                                   
                                       </div>
                         
                                    </a>
                                 </div>

                              </div>
                           </div>
                           <%})%>
                         
    
                        </div>
                     </div>


                     <script src="/js/jquery-3.3.1.min.js"></script>
                     <script src="/js/popper.min.js"></script>
                     <script src="/js/main.js"></script>
                 
</body>