<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>E-Learning</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/thub.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/thub.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/thub.png">
    <link rel="shortcut icon" type="image/x-icon" href="img/thub.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/css/editor.css" rel="stylesheet" />

</head>
<div class="sl-code-coach-header">
    <div class="sl-code-coach-header__back">
        <a href="pythonCourse" class="btn btn-primary"><</a>
        <div class="sl-code-coach-header__icon"><svg style="width: 100%; height: 100%;">
                <use xlink:href="#close"></use>
            </svg></div><span>Welcome to python</span>
    </div>
    <div class="sl-code-coach-header__actions">
        <div class="sl-code-coach-header__actions__solution">
            <div class="sl-code-coach-header__actions__solution__icon"><svg style="width: 100%; height: 100%;">
                    <use xlink:href="#growingGreen"></use>
                </svg></div>
           
        </div>
        <div class="sl-code-coach-actions"><button type="button"
                class="sl-code-coach-actions__button sl-code-coach-actions__button--primary">Run<div
                    class="sl-code-coach-actions__icon"><svg style="width: 100%; height: 100%;">
                        <use xlink:href="#run"></use>
                    </svg></div></button></div>
    </div>
</div>

<div class="sl-code-coach-wrapper__container">
    <div class="sl-code-coach-wrapper__left">
        <div class="sl-code-coach-wrapper__left-top">
            <div class="sl-code-coach-tabs"><button type="button"
                    class="sl-code-coach-tabs__item sl-code-coach-tabs__item--active">Problem</button></div>
        </div>
        <div class="sl-code-coach-wrapper__left-middle">
            <div class="sl-code-coach-problem">
                <h1 class="sl-description-heading sl-description-heading--h1"><span class="sl-description-text ">Welcome
                        To python</span></h1>
                
                 
                <div class="sl-description-note">
                    <div class="sl-description-note__icon">
                        <svg style="width: 100%; height: 100%;">
                            <use xlink:href="#exclamationRoundedFill"></use>
                        </svg>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="sl-code-coach-wrapper__right">
        <div class="sl-code-coach-editor">
            <div class="sl-code-coach-language-icon" sl-test-data="cmpLanguageIcon">
                <div class="sl-code-coach-language-icon__title">PY</div>
            </div>
            <div style="width: 100%; height: calc(100% - 48px); --codelens-font-features_ee1f62:(&quot;)off;"
                data-keybinding-context="2" data-mode-id="python">
                <div class="monaco-editor no-user-select  showUnused showDeprecated vs-dark" role="code"
                    data-uri="inmemory://model/2" style="width: 405px; height: 516px;">
                    <div data-mprt="3" class="overflow-guard" style="width: 405px; height: 516px;">
                        <div class="margin" role="presentation" aria-hidden="true"
                            style="position: absolute; transform: translate3d(0px, 0px, 0px); contain: strict; top: 0px; height: 516px; width: 66px;">
                            <div class="glyph-margin" style="left: 0px; width: 0px; height: 516px;"></div>
                            <div class="margin-view-zones" role="presentation" aria-hidden="true"
                                style="position: absolute;"></div>
                            <div class="margin-view-overlays" role="presentation" aria-hidden="true"
                                style="position: absolute; width: 66px; font-family: Consolas;">
                                <div style="position:absolute;top:0px;width:100%;height:17px;">
                                    <div class="current-line current-line-margin-both" style="width:66px; height:17px;">
                                    </div>
                                    <div class="active-line-number line-numbers" style="left:0px;width:40px;">1</div>
                                </div>
                            </div>
                        </div>
                        <div class="monaco-scrollable-element editor-scrollable vs-dark" role="presentation"
                            data-mprt="5"
                            style="position: absolute; overflow: hidden; left: 66px; width: 339px; height: 516px;">
                            <div class="lines-content monaco-editor-background"
                                style="position: absolute; overflow: hidden; width: 1e+06px; height: 1e+06px; transform: translate3d(0px, 0px, 0px); contain: strict; top: 0px; left: 0px;">
                                <div class="view-overlays" role="presentation" aria-hidden="true"
                                    style="position: absolute; height: 0px; width: 400px;">
                                    <div style="position:absolute;top:0px;width:100%;height:17px;">
                                        <div class="current-line" style="width:400px; height:17px;"></div>
                                    </div>
                                </div>
                                <div role="presentation" aria-hidden="true" class="view-rulers"></div>
                                <div class="view-zones" role="presentation" aria-hidden="true"
                                    style="position: absolute;">
                                    <div monaco-view-zone="c1"
                                        style="position: absolute; width: 100%; display: none; top: 0px; height: 0px;">
                                    </div>
                                </div>
                                <div class="view-lines monaco-mouse-cursor-text" role="presentation" aria-hidden="true"
                                    data-mprt="7"
                                    style="position: absolute; font-family: Consolas;">
                                    <div style="top:0px;height:17px;" class="view-line"><span><span
                                                class="mtk7">#your&nbsp;code&nbsp;goes&nbsp;here</span></span></div>
                                </div>
                                <div data-mprt="1" class="contentWidgets" style="position: absolute; top: 0px;"></div>
                                <div role="presentation" aria-hidden="true"
                                    class="cursors-layer cursor-line-style cursor-solid">
                                    <div class="cursor monaco-mouse-cursor-text "
                                        style="height: 17px; top: 0px; left: 0px; font-family: Consolas;">
                                    </div>
                                </div>
                            </div>
                            <div role="presentation" aria-hidden="true" class="invisible scrollbar horizontal fade"
                                style="position: absolute; width: 330px; height: 12px; left: 0px; bottom: 0px;">
                                <div class="slider"
                                    style="position: absolute; top: 1px; left: 0px; height: 9px; transform: translate3d(0px, 0px, 0px); contain: strict; width: 279px;">
                                </div>
                            </div>
                            <canvas class="decorationsOverviewRuler" aria-hidden="true" width="0" height="0"
                                style="position: absolute; transform: translate3d(0px, 0px, 0px); contain: strict; top: 0px; right: 0px; width: 9px; height: 516px;"></canvas>
                            <div role="presentation" aria-hidden="true" class="invisible scrollbar vertical"
                                style="position: absolute; width: 9px; height: 516px; right: 0px; top: 0px;">
                                <div class="slider"
                                    style="position: absolute; top: 0px; left: 0px; width: 9px; transform: translate3d(0px, 0px, 0px); contain: strict; height: 516px;">
                                </div>
                            </div>
                        </div>
                        <div role="presentation" aria-hidden="true" style="width: 405px;"></div>
                        <textarea data-mprt="6" class="inputarea monaco-mouse-cursor-text" wrap="off" autocorrect="off"
                            autocapitalize="off" autocomplete="off" spellcheck="false"
                            aria-label="Editor content;Press Alt+F1 for Accessibility Options." tabindex="0"
                            role="textbox" aria-roledescription="editor" aria-multiline="true" aria-haspopup="false"
                            aria-autocomplete="both"
                            style="font-family: Consolas;"></textarea>
                        <div style="position: absolute; top: 0px; left: 0px; width: 0px; height: 0px;"></div>
                        <div data-mprt="4" class="overlayWidgets" style="width: 405px;">
                            <div widgetid="editor.contrib.quickInputWidget"
                                style="position: absolute; top: 0px; right: 50%;"></div>
                            <div class="accessibilityHelpWidget" role="dialog" aria-hidden="true"
                                widgetid="editor.contrib.accessibilityHelpWidget"
                                style="display: none; position: absolute;">
                                <div role="document"></div>
                            </div>
                        </div>
                        <div data-mprt="8" class="minimap slider-mouseover" role="presentation" aria-hidden="true"
                            style="position: absolute; left: 0px; width: 0px; height: 516px;">
                            <div class="minimap-shadow-hidden" style="height: 516px;"></div>
                            <canvas width="0" height="516"
                                style="position: absolute; left: 0px; width: 0px; height: 516px;"></canvas>
                            <canvas class="minimap-decorations-layer" width="0" height="516"
                                style="position: absolute; left: 0px; width: 0px; height: 516px;"></canvas>
                            <div class="minimap-slider"
                                style="position: absolute; transform: translate3d(0px, 0px, 0px); contain: strict; width: 0px;">
                                <div class="minimap-slider-horizontal"
                                    style="position: absolute; width: 0px; height: 0px;"></div>
                            </div>
                        </div>
                    </div>
                    <div data-mprt="2" class="overflowingContentWidgets">
                        <div class="monaco-editor rename-box" widgetid="__renameInputWidget"
                            style="background-color: rgb(37, 37, 38); box-shadow: rgba(0, 0, 0, 0.36) 0px 0px 8px 2px; color: rgb(204, 204, 204); position: fixed; visibility: hidden; max-width: 1366px;">
                            <input class="rename-input" type="text"
                                aria-label="Rename input. Type new name and press Enter to commit."
                                style="font-family: Consolas;">
                            <div class="rename-label" style="font-size: 11.2px;">Enter to Rename, Shift+Enter to Preview
                            </div>
                        </div>
                        <div class="monaco-hover hidden" tabindex="0" role="tooltip"
                            widgetid="editor.contrib.modesContentHoverWidget"
                            style="position: fixed; visibility: hidden; max-width: 1366px;">
                            <div class="monaco-scrollable-element " role="presentation"
                                style="position: relative; overflow: hidden;">
                                <div class="monaco-hover-content"
                                    style="overflow: hidden; font-size: 14px; line-height: 1.21429; max-height: 250px; max-width: 500px;">
                                </div>
                                <div role="presentation" aria-hidden="true" class="invisible scrollbar horizontal"
                                    style="position: absolute;">
                                    <div class="slider"
                                        style="position: absolute; top: 0px; left: 0px; height: 10px; transform: translate3d(0px, 0px, 0px); contain: strict;">
                                    </div>
                                </div>
                                <div role="presentation" aria-hidden="true" class="invisible scrollbar vertical"
                                    style="position: absolute;">
                                    <div class="slider"
                                        style="position: absolute; top: 0px; left: 0px; width: 10px; transform: translate3d(0px, 0px, 0px); contain: strict;">
                                    </div>
                                </div>
                                <div class="shadow"></div>
                                <div class="shadow"></div>
                                <div class="shadow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="context-view" aria-hidden="true" style="display: none;"></div>
                </div>
            </div>
            <div class="sl-animation-loader sl-animation-loader__learning sl-animation-loader__hidden">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 311 320" width="311" height="320"
                        preserveAspectRatio="xMidYMid meet"
                        style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                        <defs>
                            <clipPath id="__lottie_element_82">
                                <rect width="311" height="320" x="0" y="0"></rect>
                            </clipPath>
                        </defs>
                        <g clip-path="url(#__lottie_element_82)">
                            <g transform="matrix(1,0,0,1,0,-130)" opacity="1" style="display: block;">
                                <g opacity="1" transform="matrix(1,0,0,1,155.5,29)">
                                    <path fill="rgb(150,223,203)" fill-opacity="0"
                                        d=" M-95.5,-10 C-95.5,-10 95.5,-10 95.5,-10 C96.60399627685547,-10 97.5,-9.104000091552734 97.5,-8 C97.5,-8 97.5,8 97.5,8 C97.5,9.104000091552734 96.60399627685547,10 95.5,10 C95.5,10 -95.5,10 -95.5,10 C-96.60399627685547,10 -97.5,9.104000091552734 -97.5,8 C-97.5,8 -97.5,-8 -97.5,-8 C-97.5,-9.104000091552734 -96.60399627685547,-10 -95.5,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,107,70)">
                                    <path fill="rgb(150,223,203)" fill-opacity="0"
                                        d=" M-47,-10 C-47,-10 47,-10 47,-10 C48.104000091552734,-10 49,-9.104000091552734 49,-8 C49,-8 49,8 49,8 C49,9.104000091552734 48.104000091552734,10 47,10 C47,10 -47,10 -47,10 C-48.104000091552734,10 -49,9.104000091552734 -49,8 C-49,8 -49,-8 -49,-8 C-49,-9.104000091552734 -48.104000091552734,-10 -47,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,155.5,110)">
                                    <path fill="rgb(150,223,203)" fill-opacity="0"
                                        d=" M-95.5,-10 C-95.5,-10 95.5,-10 95.5,-10 C96.60399627685547,-10 97.5,-9.104000091552734 97.5,-8 C97.5,-8 97.5,8 97.5,8 C97.5,9.104000091552734 96.60399627685547,10 95.5,10 C95.5,10 -95.5,10 -95.5,10 C-96.60399627685547,10 -97.5,9.104000091552734 -97.5,8 C-97.5,8 -97.5,-8 -97.5,-8 C-97.5,-9.104000091552734 -96.60399627685547,-10 -95.5,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,107,150)">
                                    <path fill="rgb(150,223,203)" fill-opacity="0"
                                        d=" M-47,-10 C-47,-10 47,-10 47,-10 C48.104000091552734,-10 49,-9.104000091552734 49,-8 C49,-8 49,8 49,8 C49,9.104000091552734 48.104000091552734,10 47,10 C47,10 -47,10 -47,10 C-48.104000091552734,10 -49,9.104000091552734 -49,8 C-49,8 -49,-8 -49,-8 C-49,-9.104000091552734 -48.104000091552734,-10 -47,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,212.5,150)">
                                    <path fill="rgb(150,223,203)" fill-opacity="0"
                                        d=" M-38.5,-10 C-38.5,-10 38.5,-10 38.5,-10 C39.604000091552734,-10 40.5,-9.104000091552734 40.5,-8 C40.5,-8 40.5,8 40.5,8 C40.5,9.104000091552734 39.604000091552734,10 38.5,10 C38.5,10 -38.5,10 -38.5,10 C-39.604000091552734,10 -40.5,9.104000091552734 -40.5,8 C-40.5,8 -40.5,-8 -40.5,-8 C-40.5,-9.104000091552734 -39.604000091552734,-10 -38.5,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,98.5,190)">
                                    <path fill="rgb(64,190,156)" fill-opacity="1"
                                        d=" M-38.5,-10 C-38.5,-10 38.5,-10 38.5,-10 C39.604000091552734,-10 40.5,-9.104000091552734 40.5,-8 C40.5,-8 40.5,8 40.5,8 C40.5,9.104000091552734 39.604000091552734,10 38.5,10 C38.5,10 -38.5,10 -38.5,10 C-39.604000091552734,10 -40.5,9.104000091552734 -40.5,8 C-40.5,8 -40.5,-8 -40.5,-8 C-40.5,-9.104000091552734 -39.604000091552734,-10 -38.5,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,204,190)">
                                    <path fill="rgb(150,223,203)" fill-opacity="1"
                                        d=" M-47,-10 C-47,-10 47,-10 47,-10 C48.104000091552734,-10 49,-9.104000091552734 49,-8 C49,-8 49,8 49,8 C49,9.104000091552734 48.104000091552734,10 47,10 C47,10 -47,10 -47,10 C-48.104000091552734,10 -49,9.104000091552734 -49,8 C-49,8 -49,-8 -49,-8 C-49,-9.104000091552734 -48.104000091552734,-10 -47,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,155.5,230)">
                                    <path fill="rgb(64,190,156)" fill-opacity="1"
                                        d=" M-95.5,-10 C-95.5,-10 95.5,-10 95.5,-10 C96.60399627685547,-10 97.5,-9.104000091552734 97.5,-8 C97.5,-8 97.5,8 97.5,8 C97.5,9.104000091552734 96.60399627685547,10 95.5,10 C95.5,10 -95.5,10 -95.5,10 C-96.60399627685547,10 -97.5,9.104000091552734 -97.5,8 C-97.5,8 -97.5,-8 -97.5,-8 C-97.5,-9.104000091552734 -96.60399627685547,-10 -95.5,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,107,270)">
                                    <path fill="rgb(64,190,156)" fill-opacity="1"
                                        d=" M-47,-10 C-47,-10 47,-10 47,-10 C48.104000091552734,-10 49,-9.104000091552734 49,-8 C49,-8 49,8 49,8 C49,9.104000091552734 48.104000091552734,10 47,10 C47,10 -47,10 -47,10 C-48.104000091552734,10 -49,9.104000091552734 -49,8 C-49,8 -49,-8 -49,-8 C-49,-9.104000091552734 -48.104000091552734,-10 -47,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,155.5,310)">
                                    <path fill="rgb(64,190,156)" fill-opacity="1"
                                        d=" M-95.5,-10 C-95.5,-10 95.5,-10 95.5,-10 C96.60399627685547,-10 97.5,-9.104000091552734 97.5,-8 C97.5,-8 97.5,8 97.5,8 C97.5,9.104000091552734 96.60399627685547,10 95.5,10 C95.5,10 -95.5,10 -95.5,10 C-96.60399627685547,10 -97.5,9.104000091552734 -97.5,8 C-97.5,8 -97.5,-8 -97.5,-8 C-97.5,-9.104000091552734 -96.60399627685547,-10 -95.5,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,107,350)">
                                    <path fill="rgb(64,190,156)" fill-opacity="1"
                                        d=" M-47,-10 C-47,-10 47,-10 47,-10 C48.104000091552734,-10 49,-9.104000091552734 49,-8 C49,-8 49,8 49,8 C49,9.104000091552734 48.104000091552734,10 47,10 C47,10 -47,10 -47,10 C-48.104000091552734,10 -49,9.104000091552734 -49,8 C-49,8 -49,-8 -49,-8 C-49,-9.104000091552734 -48.104000091552734,-10 -47,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,212.5,350)">
                                    <path fill="rgb(64,190,156)" fill-opacity="1"
                                        d=" M-38.5,-10 C-38.5,-10 38.5,-10 38.5,-10 C39.604000091552734,-10 40.5,-9.104000091552734 40.5,-8 C40.5,-8 40.5,8 40.5,8 C40.5,9.104000091552734 39.604000091552734,10 38.5,10 C38.5,10 -38.5,10 -38.5,10 C-39.604000091552734,10 -40.5,9.104000091552734 -40.5,8 C-40.5,8 -40.5,-8 -40.5,-8 C-40.5,-9.104000091552734 -39.604000091552734,-10 -38.5,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,98.5,390)">
                                    <path fill="rgb(64,190,156)" fill-opacity="1"
                                        d=" M-38.5,-10 C-38.5,-10 38.5,-10 38.5,-10 C39.604000091552734,-10 40.5,-9.104000091552734 40.5,-8 C40.5,-8 40.5,8 40.5,8 C40.5,9.104000091552734 39.604000091552734,10 38.5,10 C38.5,10 -38.5,10 -38.5,10 C-39.604000091552734,10 -40.5,9.104000091552734 -40.5,8 C-40.5,8 -40.5,-8 -40.5,-8 C-40.5,-9.104000091552734 -39.604000091552734,-10 -38.5,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,204,390)">
                                    <path fill="rgb(64,190,156)" fill-opacity="1"
                                        d=" M-47,-10 C-47,-10 47,-10 47,-10 C48.104000091552734,-10 49,-9.104000091552734 49,-8 C49,-8 49,8 49,8 C49,9.104000091552734 48.104000091552734,10 47,10 C47,10 -47,10 -47,10 C-48.104000091552734,10 -49,9.104000091552734 -49,8 C-49,8 -49,-8 -49,-8 C-49,-9.104000091552734 -48.104000091552734,-10 -47,-10z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,155.5,430)">
                                    <path fill="rgb(150,223,203)" fill-opacity="1"
                                        d=" M-95.5,-10 C-95.5,-10 95.5,-10 95.5,-10 C96.60399627685547,-10 97.5,-9.104000091552734 97.5,-8 C97.5,-8 97.5,8 97.5,8 C97.5,9.104000091552734 96.60399627685547,10 95.5,10 C95.5,10 -95.5,10 -95.5,10 C-96.60399627685547,10 -97.5,9.104000091552734 -97.5,8 C-97.5,8 -97.5,-8 -97.5,-8 C-97.5,-9.104000091552734 -96.60399627685547,-10 -95.5,-10z">
                                    </path>
                                </g>
                            </g>
                            <g transform="matrix(1,0,0,1,0,30)" opacity="1" style="display: block;">
                                <g opacity="1" transform="matrix(1,0,0,1,19,110.5)">
                                    <path fill="rgb(107,126,153)" fill-opacity="1"
                                        d=" M-17.899999618530273,-9.890999794006348 C-17.899999618530273,-9.890999794006348 16.100000381469727,-27.03700065612793 16.100000381469727,-27.03700065612793 C17.43000030517578,-27.70800018310547 19,-26.740999221801758 19,-25.250999450683594 C19,-25.250999450683594 19,-11.095999717712402 19,-11.095999717712402 C19,-10.321000099182129 18.554000854492188,-9.616999626159668 17.85300064086914,-9.286999702453613 C17.85300064086914,-9.286999702453613 1.1460000276565552,-1.406999945640564 1.1460000276565552,-1.406999945640564 C0.5979999899864197,-1.1480000019073486 0.24699999392032623,-0.5950000286102295 0.24699999392032623,0.012000000104308128 C0.24699999392032623,0.6069999933242798 0.5839999914169312,1.149999976158142 1.1169999837875366,1.4160000085830688 C1.1169999837875366,1.4160000085830688 17.892000198364258,9.767000198364258 17.892000198364258,9.767000198364258 C18.570999145507812,10.104999542236328 19,10.798999786376953 19,11.557000160217285 C19,11.557000160217285 19,25.250999450683594 19,25.250999450683594 C19,26.740999221801758 17.43000030517578,27.70800018310547 16.100000381469727,27.03700065612793 C16.100000381469727,27.03700065612793 -17.899999618530273,9.890999794006348 -17.899999618530273,9.890999794006348 C-18.573999404907227,9.550999641418457 -19,8.859999656677246 -19,8.104999542236328 C-19,8.104999542236328 -19,-8.104999542236328 -19,-8.104999542236328 C-19,-8.859999656677246 -18.573999404907227,-9.550999641418457 -17.899999618530273,-9.890999794006348z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,19,232.5)">
                                    <path fill="rgb(107,126,153)" fill-opacity="1"
                                        d=" M-17.899999618530273,-9.890999794006348 C-17.899999618530273,-9.890999794006348 16.100000381469727,-27.03700065612793 16.100000381469727,-27.03700065612793 C17.43000030517578,-27.70800018310547 19,-26.740999221801758 19,-25.250999450683594 C19,-25.250999450683594 19,-11.095999717712402 19,-11.095999717712402 C19,-10.321000099182129 18.554000854492188,-9.616999626159668 17.85300064086914,-9.286999702453613 C17.85300064086914,-9.286999702453613 1.1460000276565552,-1.406999945640564 1.1460000276565552,-1.406999945640564 C0.5979999899864197,-1.1480000019073486 0.24699999392032623,-0.5950000286102295 0.24699999392032623,0.012000000104308128 C0.24699999392032623,0.6079999804496765 0.5839999914169312,1.1510000228881836 1.1169999837875366,1.4160000085830688 C1.1169999837875366,1.4160000085830688 17.892000198364258,9.767000198364258 17.892000198364258,9.767000198364258 C18.570999145507812,10.105999946594238 19,10.798999786376953 19,11.557000160217285 C19,11.557000160217285 19,25.250999450683594 19,25.250999450683594 C19,26.740999221801758 17.43000030517578,27.70800018310547 16.100000381469727,27.03700065612793 C16.100000381469727,27.03700065612793 -17.899999618530273,9.890999794006348 -17.899999618530273,9.890999794006348 C-18.573999404907227,9.550999641418457 -19,8.859999656677246 -19,8.105999946594238 C-19,8.105999946594238 -19,-8.104999542236328 -19,-8.104999542236328 C-19,-8.859999656677246 -18.573999404907227,-9.550999641418457 -17.899999618530273,-9.890999794006348z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,292,135.5)">
                                    <path fill="rgb(107,126,153)" fill-opacity="1"
                                        d=" M17.900999069213867,-9.890999794006348 C17.900999069213867,-9.890999794006348 -16.099000930786133,-27.03700065612793 -16.099000930786133,-27.03700065612793 C-17.43000030517578,-27.70800018310547 -19,-26.740999221801758 -19,-25.250999450683594 C-19,-25.250999450683594 -19,-11.095999717712402 -19,-11.095999717712402 C-19,-10.321000099182129 -18.55299949645996,-9.616999626159668 -17.85300064086914,-9.286999702453613 C-17.85300064086914,-9.286999702453613 -1.1469999551773071,-1.406999945640564 -1.1469999551773071,-1.406999945640564 C-0.597000002861023,-1.1480000019073486 -0.24699999392032623,-0.5950000286102295 -0.24699999392032623,0.012000000104308128 C-0.24699999392032623,0.6069999933242798 -0.5830000042915344,1.149999976158142 -1.1169999837875366,1.4160000085830688 C-1.1169999837875366,1.4160000085830688 -17.891000747680664,9.767000198364258 -17.891000747680664,9.767000198364258 C-18.57200050354004,10.104999542236328 -19,10.798999786376953 -19,11.557000160217285 C-19,11.557000160217285 -19,25.250999450683594 -19,25.250999450683594 C-19,26.740999221801758 -17.43000030517578,27.70800018310547 -16.099000930786133,27.03700065612793 C-16.099000930786133,27.03700065612793 17.900999069213867,9.890999794006348 17.900999069213867,9.890999794006348 C18.575000762939453,9.550999641418457 19,8.859999656677246 19,8.104999542236328 C19,8.104999542236328 19,-8.104999542236328 19,-8.104999542236328 C19,-8.859999656677246 18.575000762939453,-9.550999641418457 17.900999069213867,-9.890999794006348z">
                                    </path>
                                </g>
                                <g opacity="1" transform="matrix(1,0,0,1,292,30.5)">
                                    <path fill="rgb(107,126,153)" fill-opacity="1"
                                        d=" M17.900999069213867,-9.890999794006348 C17.900999069213867,-9.890999794006348 -16.099000930786133,-27.03700065612793 -16.099000930786133,-27.03700065612793 C-17.43000030517578,-27.70800018310547 -19,-26.742000579833984 -19,-25.25200080871582 C-19,-25.25200080871582 -19,-11.095999717712402 -19,-11.095999717712402 C-19,-10.321999549865723 -18.55299949645996,-9.616999626159668 -17.85300064086914,-9.286999702453613 C-17.85300064086914,-9.286999702453613 -1.1469999551773071,-1.406999945640564 -1.1469999551773071,-1.406999945640564 C-0.597000002861023,-1.1480000019073486 -0.24699999392032623,-0.5960000157356262 -0.24699999392032623,0.010999999940395355 C-0.24699999392032623,0.6060000061988831 -0.5830000042915344,1.149999976158142 -1.1169999837875366,1.4149999618530273 C-1.1169999837875366,1.4149999618530273 -17.891000747680664,9.767000198364258 -17.891000747680664,9.767000198364258 C-18.57200050354004,10.104999542236328 -19,10.79800033569336 -19,11.557000160217285 C-19,11.557000160217285 -19,25.250999450683594 -19,25.250999450683594 C-19,26.740999221801758 -17.43000030517578,27.70800018310547 -16.099000930786133,27.03700065612793 C-16.099000930786133,27.03700065612793 17.900999069213867,9.890000343322754 17.900999069213867,9.890000343322754 C18.575000762939453,9.550000190734863 19,8.859000205993652 19,8.104999542236328 C19,8.104999542236328 19,-8.104999542236328 19,-8.104999542236328 C19,-8.859999656677246 18.575000762939453,-9.550999641418457 17.900999069213867,-9.890999794006348z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>