<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>E-Learning</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/thub.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/thub.png">
    <link rel="shortcut icon" type="image/x-icon" href="img/thub.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="css/Coursestheme.css" rel="stylesheet" />

  </head>




<nav class="navbar navbar-expand-lg navbar-light sticky-top" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container"><a class="navbar-brand" href="/"><img src="img/logo.png" height="31" alt="logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
      <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" aria-current="page" href="courses">Courses</a></li>
          <!--<li class="nav-item"><a class="nav-link" aria-current="page" href="practice">Practice</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="discuss">Discuss</a></li>-->
        </ul>
        <div class="d-flex ms-lg-4"><a class="btn rounded-circle" href="signin"></a></div>
        <h1 style="color: #d87a21; font-weight: bold;"> Welcome  <%=Name%></h1>
      </div>
      <div class="d-flex ms-lg-4"><a class="btn btn-secondary-outline" href="signout">Sign out</a></div>
    </div>
  </nav>


  <div class="SlCourses">
    <h1 class="sl-learn-course_title">What would you like to learn?</h1>
    <section class="SlCourses__container">
       <a class="sl-course-item" href="/learning/1073">
          <div class="sl-course-item__progress">
             <div class="sl-course-item__progress__icon"><img src="https://sololearnuploads.azureedge.net/uploads/courses/1073.png" alt="course-icon"></div>
          </div>
          <div class="sl-course-item__info">
             <p class="sl-course-item__info__title">Python</p>
          </div>
       </a>
       <a class="sl-course-item" href="/learning/1051">
          <div class="sl-course-item__progress">
             <div class="sl-course-item__progress__icon"><img src="https://sololearnuploads.azureedge.net/uploads/courses/1051.png" alt="course-icon"></div>
          </div>
          <div class="sl-course-item__info">
             <p class="sl-course-item__info__title">C++</p>
             <!--<p class="sl-course-item__info__learners">6.1M Learners</p>-->
          </div>
       </a>
       <a class="sl-course-item" href="/learning/1068">
          <div class="sl-course-item__progress">
             <div class="sl-course-item__progress__icon"><img src="https://sololearnuploads.azureedge.net/uploads/courses/1068.png" alt="course-icon"></div>
          </div>
          <div class="sl-course-item__info">
             <p class="sl-course-item__info__title">Java</p>
           
          </div>
       </a>
       <a class="sl-course-item" href="/learning/1080">
          <div class="sl-course-item__progress">
             <div class="sl-course-item__progress__icon"><img src="https://sololearnuploads.azureedge.net/uploads/courses/1080.png" alt="course-icon"></div>
          </div>
          <div class="sl-course-item__info">
             <p class="sl-course-item__info__title">C#</p>
          
          </div>
       </a>
       <a class="sl-course-item" href="/learning/1141">
          <div class="sl-course-item__progress">
             <div class="sl-course-item__progress__icon"><img src="https://sololearnuploads.azureedge.net/uploads/courses/1141.png" alt="course-icon"></div>
          </div>
          <div class="sl-course-item__info">
             <p class="sl-course-item__info__title">Web Development Fundamentals</p>
            
          </div>
       </a>
       <a class="sl-course-item" href="/learning/1024">
          <div class="sl-course-item__progress">
             <div class="sl-course-item__progress__icon"><img src="https://sololearnuploads.azureedge.net/uploads/courses/1024.png" alt="course-icon"></div>
          </div>
          <div class="sl-course-item__info">
             <p class="sl-course-item__info__title">JavaScript</p>
           
          </div>
       </a>
       <a class="sl-course-item" href="/learning/1014">
          <div class="sl-course-item__progress">
             <div class="sl-course-item__progress__icon"><img src="https://sololearnuploads.azureedge.net/uploads/courses/1014.png" alt="course-icon"></div>
          </div>
          <div class="sl-course-item__info">
             <p class="sl-course-item__info__title">HTML</p>
        
          </div>
       </a>
       <a class="sl-course-item" href="/learning/1023">
          <div class="sl-course-item__progress">
             <div class="sl-course-item__progress__icon"><img src="https://sololearnuploads.azureedge.net/uploads/courses/1023.png" alt="course-icon"></div>
          </div>
          <div class="sl-course-item__info">
             <p class="sl-course-item__info__title">CSS</p>
         
          </div>
       </a>
     
    </section>
 </div>