/*! CSS Used from: Embedded */

a,
div,
h1,
img,
p,
section {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
    text-decoration: none;
}

* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	text-decoration: none;
}

:focus {
	outline: 0;
}

section {
	display: block;
}

a:focus {
	outline: 0;
}

a {
	outline: 0;
	text-decoration: none;
}

a:focus,
a:visited {
	outline: 0;
}

a:focus:focus,
a:visited:focus {
	outline: 0;
}

a:active,
a:hover {
	outline: 0;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

img {
	vertical-align: middle;
}


/*! CSS Used from: Embedded */


* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	text-decoration: none;
}

:focus {
	outline: 0;
}

section {
	display: block;
}

a:focus {
	outline: none;
}

a {
	outline: none;
	text-decoration: none;
}

a:focus,
a:visited {
	outline: none;
}

a:focus:focus,
a:visited:focus {
	outline: none;
}

a:active,
a:hover {
	outline: 0;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

img {
	vertical-align: middle;
}


* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	text-decoration: none;
}

:focus {
	outline: 0;
}

section {
	display: block;
}

a,
a:focus {
	outline: none;
}

a {
	text-decoration: none;
}

a:focus,
a:focus:focus,
a:visited,
a:visited:focus {
	outline: none;
}

a:active,
a:hover {
	outline: 0;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

img {
	vertical-align: middle;
}

.sl-course-item:hover {
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	transform: translateY(-2px);
}

.sl-course-item:active {
	-webkit-transform: translateY(4px);
	-ms-transform: translateY(4px);
	transform: translateY(4px);
}

.sl-course-item {
	padding: 20px;
	width: 174px;
	height: 196px;
	background: #f9f9fa;
	border: 1.8px solid #dce2e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 7px;
	margin: 16px 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	font-weight: 400;
	-webkit-box-shadow: 0 4px 0 rgba(107, 127, 153, 0.5);
	box-shadow: 0 4px 0 rgba(107, 127, 153, 0.5);
    text-decoration: none;
}

.sl-course-item:hover {
	-webkit-box-shadow: 0 6px 0 rgba(107, 127, 153, 0.5);
	box-shadow: 0 6px 0 rgba(107, 127, 153, 0.5);
}

.sl-course-item:active {
	-webkit-box-shadow: 0 0 0 rgba(107, 127, 153, 0.5);
	box-shadow: 0 0 0 rgba(107, 127, 153, 0.5);
}

.sl-course-item__progress {
	width: 82px;
	height: 82px;
}

.sl-course-item__progress__icon {
	height: 72px;
	width: 72px;
	margin: 0 auto;
}

.sl-course-item__progress__icon img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.sl-course-item__info {
	margin-top: 13px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    text-decoration: none;
}

.sl-course-item__info__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 110%;
	text-align: center;
	color: #2d3846;
    text-decoration: none;
}

.sl-course-item__info__learners {
	font-size: 13px;
	line-height: 120%;
	text-align: center;
	color: #6b7f99;
    text-decoration: none;
}

@media (min-width: 600px)and (max-width: 1023px) {
	.sl-course-item__info__title {
		font-size: 16px;
	}
	.sl-course-item {
		padding: 28px 19px 15px;
		width: 155px;
		height: 196px;
		margin: 16px 15px;
	}
}

@media (max-width: 599px) {
	.sl-course-item__info__title {
		font-size: 16px;
	}
	.sl-course-item {
		padding: 15px;
		width: 135px;
		height: 176px;
		margin: 15px;
	}
}

.SlCourses {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 30px 30px;
	background-color: #f2f5f7;
	min-height: 100vh;
}

.SlCourses__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 800px;
}

@media (min-width: 600px)and (max-width: 1023px) {
	.SlCourses {
		padding: 0 0 137px;
	}
	.SlCourses__container {
		max-width: 555px;
	}
}

@media (max-width: 599px) {
	.SlCourses {
		padding: 0 16px 72px;
	}
	.SlCourses__container {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.sl-course-item:hover {
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	transform: translateY(-2px);
}

.sl-course-item:active {
	-webkit-transform: translateY(4px);
	-ms-transform: translateY(4px);
	transform: translateY(4px);
}

.sl-course-item {
	padding: 20px;
	width: 174px;
	height: 196px;
	background: #f9f9fa;
	border: 1.8px solid #dce2e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 7px;
	margin: 16px 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	font-weight: 400;
	-webkit-box-shadow: 0 4px 0 rgba(107, 127, 153, 0.5);
	box-shadow: 0 4px 0 rgba(107, 127, 153, 0.5);
}

.sl-course-item:hover {
	-webkit-box-shadow: 0 6px 0 rgba(107, 127, 153, 0.5);
	box-shadow: 0 6px 0 rgba(107, 127, 153, 0.5);
}

.sl-course-item:active {
	-webkit-box-shadow: 0 0 0 rgba(107, 127, 153, 0.5);
	box-shadow: 0 0 0 rgba(107, 127, 153, 0.5);
}

.sl-course-item__progress {
	width: 82px;
	height: 82px;
}

.sl-course-item__progress__icon {
	height: 72px;
	width: 72px;
	margin: 0 auto;
}

.sl-course-item__progress__icon img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.sl-course-item__info {
	margin-top: 13px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.sl-course-item__info__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 110%;
	text-align: center;
	color: #2d3846;
}

.sl-course-item__info__learners {
	font-size: 13px;
	line-height: 120%;
	text-align: center;
	color: #6b7f99;
}

@media (min-width: 600px)and (max-width: 1023px) {
	.sl-course-item__info__title {
		font-size: 16px;
	}
	.sl-course-item {
		padding: 28px 19px 15px;
		width: 155px;
		height: 196px;
		margin: 16px 15px;
	}
}

@media (max-width: 599px) {
	.sl-course-item__info__title {
		font-size: 16px;
	}
	.sl-course-item {
		padding: 15px;
		width: 135px;
		height: 176px;
		margin: 15px;
	}
}

.SlCourses {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 30px 86px;
	background-color: #f2f5f7;
	min-height: 100vh;
}

.SlCourses__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 800px;
}

@media (min-width: 600px)and (max-width: 1023px) {
	.SlCourses {
		padding: 0 0 137px;
	}
	.SlCourses__container {
		max-width: 555px;
	}
}

@media (max-width: 599px) {
	.SlCourses {
		padding: 0 16px 72px;
	}
	.SlCourses__container {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

a,
div,
h1,
img,
p,
section {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	text-decoration: none;
}

:focus {
	outline: 0;
}

section {
	display: block;
}

a,
a:focus {
	outline: none;
}

a {
	text-decoration: none;
}

a:focus,
a:focus:focus,
a:visited,
a:visited:focus {
	outline: none;
}

a:active,
a:hover {
	outline: 0;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

img {
	vertical-align: middle;
}

.sl-learn-course_title {
	font-weight: 700;
	font-size: 25px;
	line-height: 110%;
	text-align: center;
	color: #2d3846;
	margin: 87px auto 45px;
}

/*******************************/

/*Nav bar styles */
/*! CSS Used from: http://localhost:3000/css/theme.css */

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	padding-left: 2rem;
}

ul {
	margin-top: 0;
	margin-bottom: 1rem;
}

a {
	color: #212832;
	text-decoration: underline;
}

a:hover {
	color: #FF9900;
	text-decoration: underline;
}

img {
	vertical-align: middle;
}

button {
	border-radius: 0;
}

button:focus:not(:focus-visible) {
	outline: 0;
}

button {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button {
	text-transform: none;
}

button,
[type="button"] {
	-webkit-appearance: button;
}

::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

.container {
	width: 100%;
	padding-right: var(--bs-gutter-x, 1rem);
	padding-left: var(--bs-gutter-x, 1rem);
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1144px;
	}
}

.btn {
	display: inline-block;
	font-weight: 600;
	line-height: 1.5;
	color: #2F281E;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.688rem 1.563rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.btn {
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
}

.btn:hover {
	color: #2F281E;
	text-decoration: none;
}

.btn:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.25rem rgba(255, 153, 0, 0.25);
	box-shadow: 0 0 0 0.25rem rgba(255, 153, 0, 0.25);
}

.btn:disabled {
	pointer-events: none;
	opacity: 0.65;
}

.btn-warning {
	color: #FFFEFE;
	background-color: #d87a21;
	border-color: #FF9900;
}

.btn-warning:hover {
	color: #FFFEFE;
	background-color: #d98200;
	border-color: #cc7a00;
}

.btn-warning:focus {
	color: #FFFEFE;
	background-color: #d98200;
	border-color: #cc7a00;
	-webkit-box-shadow: 0 0 0 0 rgba(255, 168, 38, 0.5);
	box-shadow: 0 0 0 0 rgba(255, 168, 38, 0.5);
}

.btn-warning:active {
	color: #FFFEFE;
	background-color: #cc7a00;
	border-color: #bf7300;
}

.btn-warning:active:focus {
	-webkit-box-shadow: 0 0 0 0 rgba(255, 168, 38, 0.5);
	box-shadow: 0 0 0 0 rgba(255, 168, 38, 0.5);
}

.btn-warning:disabled {
	color: #FFFEFE;
	background-color: #FF9900;
	border-color: #FF9900;
}

.collapse:not(.show) {
	display: none;
}

.nav-link {
	display: block;
	padding: 0.5rem 1rem;
	font-size: 0.88rem;
	color: #2F281E;
	text-decoration: none;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.nav-link {
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
}

.nav-link:hover,
.nav-link:focus {
	color: #FF9900;
	text-decoration: none;
}

.navbar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
    z-index: 10;
    background-color: white;
}

.navbar>.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: inherit;
	flex-wrap: inherit;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar-brand {
	padding-top: 0.18213rem;
	padding-bottom: 0.18213rem;
	margin-right: 1rem;
	font-size: calc(1.26738rem + 0.20859vw);
	text-decoration: none;
	white-space: nowrap;
}

@media (min-width: 1200px) {
	.navbar-brand {
		font-size: 1.42383rem;
	}
}

.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
}

.navbar-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-collapse {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.2rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	-webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
	transition: -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: box-shadow 0.15s ease-in-out;
	transition: box-shadow 0.15s ease-in-out;
	transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.navbar-toggler {
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
}

.navbar-toggler:hover {
	text-decoration: none;
}

.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

@media (min-width: 992px) {
	.navbar-expand-lg {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.navbar-expand-lg .navbar-nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
	.navbar-expand-lg .navbar-collapse {
		display: -webkit-box!important;
		display: -ms-flexbox!important;
		display: flex!important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	.navbar-expand-lg .navbar-toggler {
		display: none;
	}
}

.navbar-light .navbar-brand {
	color: #FF9900;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
	color: #FF9900;
}

.navbar-light .navbar-nav .nav-link {
	color: #212832;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
	color: #FF9900;
}

.navbar-light .navbar-toggler {
	color: #212832;
	border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23212832' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M0 6h30M0 14h30M0 22h30'/%3E%3C/svg%3E");
}

.sticky-top {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
}

.d-flex {
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important;
}

.border-top {
	border-top: 1px solid #EEEEEE!important;
}

.mt-4 {
	margin-top: 1.8rem!important;
}

.ms-3 {
	margin-left: 1rem!important;
}

.ms-auto {
	margin-left: auto!important;
}

@media (min-width: 992px) {
	.border-lg-0 {
		border: 0!important;
	}
	.mt-lg-0 {
		margin-top: 0!important;
	}
	.ms-lg-4 {
		margin-left: 1.8rem!important;
	}
}

::-webkit-input-placeholder {
	opacity: 1;
	color: #E0E0E0!important;
}

::-moz-placeholder {
	opacity: 1;
	color: #E0E0E0!important;
}

:-ms-input-placeholder {
	opacity: 1;
	color: #E0E0E0!important;
}

::-ms-input-placeholder {
	opacity: 1;
	color: #E0E0E0!important;
}

::placeholder {
	opacity: 1;
	color: #E0E0E0!important;
}

button,
.btn,
.navbar {
	font-family: "Poppins", "Rubik", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
	padding-left: 1.1rem;
}

.container {
	position: relative;
}

.navbar {
	-webkit-transition: padding 0.3s linear;
	-o-transition: padding 0.3s linear;
	transition: padding 0.3s linear;
}

.btn-secondary-outline {
	color: #173A56;
	border-color: #BCD0E5;
	border: 0.0625rem solid #BCD0E5;
}
/* Dropdown Button */
.dropbtn {
  height: 50px;
  width: 50px;  
	/*background-color: #D98200;*/
	background-image:url("/img/user.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; 
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
	background-color: #666666;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


/*! CSS Used fontfaces */

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  /***************************/
  /***************************/
  